body{
    font-family:Arial;
    background:#f4f4f4;
}

.container{
    width:500px;
    margin:40px auto;
    background:white;
    padding:20px;
}

.input-area{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
}

button{
    cursor:pointer;
    padding:8px 15px;
}

li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:10px 0;
    padding:10px;
    border:1px solid #ddd;
}

.completed span{
    text-decoration:line-through;
    color:gray;
}
